<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">

    <table class="table">
      <thead class="thead-dark">
        <th>Variable</th>
        <th>Pipe</th>
        <th>Salida</th>
      </thead>

      <tbody>
        <tr>
          <td>{{ contrasenia }}</td>
          <td>contraseña
            <br>
            <button class="btn btn-primary" 
            (click)="activar_desactivar_contrasenia=!activar_desactivar_contrasenia"
            >Activar/Desactivar</button>
          </td>
          <td>{{ contrasenia | contraseniaA:activar_desactivar_contrasenia }}</td>
        </tr>

        <tr>
          <td>{{ nombre2 }}</td>
          <td>personalizado pipe capitalizado</td>
          <td>{{ nombre2 | capitalizado:false }}</td>
        </tr>
        <tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase}}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase}}</td>
        </tr>
        <tr>
          <td>{{ nombre }}</td>
          <td>slice : 3</td>
          <td>{{ nombre | slice:3}}</td>
        </tr>
        <tr>
          <td>{{ arreglo }}</td>
          <td>slice :0:3</td>
          <td>{{ arreglo | slice:0:3}}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td> number:'1.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ PI }}</td>
          <td>decimal</td>
          <td>{{ PI |number:'.0-2' }}</td>
        </tr>
        <tr>
          <td>{{ porcetaje }}</td>
          <td>porcentaje</td>
          <td>{{ porcetaje |percent }}</td>
        </tr>
        <tr>
          <td>{{ porcetaje }}</td>
          <td>porcentaje</td>
          <td>{{ porcetaje |percent:'2.2-2' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>porcentaje</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>porcentaje</td>
          <td>{{ salario | currency:'MXN' }}</td>
        </tr>
        <tr>
          <td>{{ salario }}</td>
          <td>porcentaje</td>
          <td>{{ salario | currency:'MXN':'symbol':'.0-0' }}</td>
        </tr>
        <tr>
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <td>{{fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <td>{{fecha }}</td>
          <td>date medium</td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <td>{{fecha }}</td>
          <td>date short</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <td>{{fecha }}</td>
          <td>date personalizada</td>
          <td>{{ fecha | date:'MMMM-dd' }}</td>
        </tr>

        <tr>
          <td>{{fecha }}</td>
          <td>date personalizada ingles</td>
          <td>{{ fecha | date:'MMMM-dd':'':'fr' }}</td>
        </tr>

        <tr>
          <td>{{idioma }}</td>
          <td>date personalizada
            {{idioma}}
            <br>

            <button class="btn btn-primary mr-2" (click)="idioma='es-MX'">Español</button>
            <button class="btn btn-success" (click)="idioma='en'">Ingles</button>

          </td>
          <td>{{ fecha | date:'MMMM-dd':'':idioma }}</td>
        </tr>

        <h3>JSON</h3>
        <div class="row mb-5">
          <div class="col">
            <pre>
              {{heroe | json}}
            </pre>
          </div>
        </div>
      </tbody>
    </table>

    <ul>
      <li *ngFor="let item of arreglo | slice:0:20">{{item}}</li>
    </ul>


    <h3>DOM seguro</h3>
    <div class="row">
      <div class="col">
        <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>